.btn {
    font-weight: 700;
    padding: 0.75em;
    -webkit-box-shadow: 2px 2px 0px 1px #000000;
    box-shadow: 2px 2px 0px 1px #000000;
    border-radius: 1em;
}

.btn-primary {
    background: var(--color-primary);
}
