.category {
  font-size: var(--text-size-xs);
  background-color: var(--color-grey-dark);
  color: var(--color-text-light);
  font-weight: 500;
  padding: 0.5em 0.75em;
  border-radius: 1em;
  text-align: center;
}
