.featured-card {
    position: relative;
    overflow: hidden;
    color: var(--color-text-light);
    border-radius: 0.5em;
}

.featured-card-title {
    font-size: var(--text-size-md);
    margin: 0;
}

.featured-card-date {
    font-size: var(--text-size-sm);
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--color-grey-light);
}

.featured-card-text {
    font-size: var(--text-size-sm);
}

.featured-card:hover .featured-card-body {
    bottom: 0;
    transform: translateY(0%);
}

.featured-card:hover .featured-card-content {
    opacity: 1;
}

.featured-card-content {
    opacity: 0;
    transition: opacity 0.5s ease 0.2s;
}

picture {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.featured-card-body {
    position: absolute;
    width: 100%;
    transform: translateY(70%);
    padding: 2em 1em;
    background-color: rgba(0, 0, 0, 0.728);
    z-index: 1;
    transition: bottom 0.5s ease;
    transition: transform 0.5s ease;
}

.featured-card-img-bg {
    z-index: -1;

    object-fit: cover;
    transition: transform 0.3s ease;
    filter: brightness(60%);
}
