.post-banner {
    background-color: var(--color-background-light);
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-banner__card {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    padding: var(--space-s);
    gap: var(--space-s);
    flex-grow: 1;
}

.post-banner__card-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
}

.post-banner__card-date {
    font-size: var(--font-size-2xs);
    color: var(--color-grey);
    margin: 0;
}

.post-banner__card-title {
    font-size: var(--text-size-md);
    margin: 0;
}

.post-banner__card-content {
    font-size: var(--text-size-sm);
}

.post-banner__card-image__container {
    grid-column: span 8;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.5em 0 0 0.5em;
}

.post-banner__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 430px;
}

@media screen and (max-width: 840px) {
    .post-banner__card-image__container {
        grid-column: span 12;
        border-radius: 0.5em 0.5em 0 0;
    }

    .post-banner__card {
        grid-column: span 12;
    }
}
