:root {
    /* =========================
     FLUID TYPOGRAPHY
     ========================= */
    --text-size-xs: clamp(0.5rem, 0.4rem + 1vw, 0.75rem);
    --text-size-sm: clamp(0.75rem, 0.65rem + 1.2vw, 1rem);
    --text-size-md: clamp(1rem, 0.9rem + 1.5vw, 1.5rem);
    --text-size-lg: clamp(1.5rem, 1.25rem + 2vw, 2rem);
    --text-size-xl: clamp(2rem, 1.75rem + 2.5vw, 2.75rem);
    --text-size-2xl: clamp(2.5rem, 2.25rem + 3vw, 3.5rem);
    --text-size-3xl: clamp(3.5rem, 3rem + 3.5vw, 4.5rem);
    --text-size-4xl: clamp(4.5rem, 3.75rem + 4vw, 6rem);
    --text-size-5xl: clamp(6rem, 5rem + 5vw, 8rem);

    --primary-font: "Fact", sans-serif;
    --secondary-font: "Open Sans", sans-serif;

    /* =========================
     FLUID SPACING
     ========================= */
    --space-3xs: clamp(0.25rem, 0.2rem + 0.5vw, 0.5rem);
    --space-2xs: clamp(0.5rem, 0.4rem + 0.8vw, 0.75rem);
    --space-xs: clamp(0.75rem, 0.6rem + 1vw, 1rem);
    --space-s: clamp(1rem, 0.8rem + 1.2vw, 1.5rem);
    --space-m: clamp(1.5rem, 1.2rem + 1.5vw, 2rem);
    --space-l: clamp(2rem, 1.6rem + 2vw, 2.75rem);
    --space-xl: clamp(3rem, 2.4rem + 2.5vw, 3.75rem);
    --space-2xl: clamp(4rem, 3rem + 3vw, 5rem);
    --space-3xl: clamp(6rem, 4.5rem + 4vw, 7.5rem);

    /* Optional pairs */
    --space-s-l: clamp(1rem, 0.5rem + 2.6667vw, 2.5rem);

    /* Colors */

    --color-primary: hsl(217, 87%, 47%);
    --color-primary-light: hsl(210, 100%, 60%);
    --color-primary-dark: hsl(210, 100%, 30%);
    --color-background-dark: hsl(340, 3%, 17%);

    --color-background-dark-hover: hsl(340, 3%, 7%);

    --color-background-light: hsl(0, 0%, 92%);

    --color-grey-light: hsl(0, 0%, 80%);
    --color-grey: hsl(0, 0%, 50%);
    --color-grey-dark: hsl(0, 0%, 30%);

    --color-text-dark: hsl(0, 0%, 10%);
    --color-text-light: hsl(0, 0%, 90%);
}
